/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*color scheme 1: #FFCE00 #0375B4 #007849 #262228
  2: #C0B283 #DCDDC0 #F4F4F4 #373737
  3: #18121E #233237 #984B43 #EAC67A
 */

body {
  background-color: #f4f4f4;
  color: #c0b283;
}
a {
  color: #373737;
}
input {
  color: #373737;
}
h1 {
  color: #373737;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 2; /* this will probably change eventually*/
    display: none;
}
