// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.posts-header {
  text-align: center;
}
.post-body {
  margin-left: auto;
  margin-right: auto;
  width: 80%
}
.post-link {
  margin-top: 90%
}

table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  .post-entry {
    padding-top: 5px;
    padding-right: 10px;
  }
}

.new-post-container {
  text-align: center;
  border: 2px solid #373737;
  display: none;
  position: absolute;
  width: 450px;
  height: 280px;
  left: 30%;
  top: 160px;
  background-color: #984B43;
  z-index: 3;


  #post_text {
    width: 400px;
    height: 140px;
    position: relative;
  }
}
